{% extends 'base.html' %}

{% block content %}
<div class="my-3 my-md-5">
  <div class="container">
    <div class="page-header">
      <h1 class="page-title">
        All Stations
      </h1>
    </div>
    <div class="row row-cards">
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="h1 m-0">{{ stats.total_plays }}</div>
            <div class="text-muted mb-4">Total Plays</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="h1 m-0">{{ stats.unique_songs }}</div>
            <div class="text-muted mb-4">Unique Songs</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="h1 m-0">{{ stats.unique_artists }}</div>
            <div class="text-muted mb-4">Unique Artists</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="h1 m-0">{{ stats.last_day }}</div>
            <div class="text-muted mb-4">Plays in 24 hours</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="h1 m-0">{{ stats.last_week }}</div>
            <div class="text-muted mb-4">Plays in 7 days</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="h1 m-0">{{ stats.last_month }}</div>
            <div class="text-muted mb-4">Plays in 30 days</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Daily Plays (last 30 days)</h3>
          </div>
          <div id="chart-daily-plays"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Hourly Plays</h3>
          </div>
          <div id="chart-hourly-plays"></div>
        </div>
      </div>
    </div>
    <div class="row row-cards row-deck">
      <div class="col-12">
        <div class="card">
          <div class="table-responsive">
            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
              <thead>
                <tr>
                  <th>Song</th>
                  <th>Artist</th>
                  <th>Station</th>
                  <th>When</th>
                </tr>
              </thead>
              <tbody>
                {% for row in recent_songs %}
                <tr>
                  <td>
                    <a href="{{ url_for('song', name=row.song.slug) }}">{{ row.song.name }}</a>
                  </td>
                  <td>
                    <a href="{{ url_for('artist', name=row.artist.slug) }}">{{ row.artist.name }}</a>
                  </td>
                  <td>
                    <a href="{{ url_for('station', name=row.station) }}">{{ row.station | station_name }}</a>
                  </td>
                  <td><span title="{{ row.played_time }}">{{ row.played_time | delta(current_time) }}</span></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<meta id="daily_plays" data-plays="{{ stats.daily_plays | extract_values }}" data-labels="{{ stats.daily_plays | extract_labels }}"/>
<meta id="hourly_plays" data-plays="{{ stats.hourly_plays | extract_values }}" data-labels="{{ stats.hourly_plays | extract_labels }}"/>
{% endblock %}
