<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Rova Music Stats - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chart.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slug.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>

    <script>
        $(function() {
            $("#song-search").select2({
                ajax: {
                    data: function (params) {
                        var query = {
                            term: params.term,
                            type: 'song'
                        }

                        return query;
                    },
                    url: '/search',
                    dataType: 'json',
                    delay: 250,
                },
                placeholder: 'Search for a song',
                minimumInputLength: 3,
                width: "50%"
            });

            $("#artist-search").select2({
                ajax: {
                    data: function (params) {
                        var query = {
                            term: params.term,
                            type: 'artist'
                        }

                        return query;
                    },
                    url: '/search',
                    dataType: 'json',
                    delay: 250,
                },
                placeholder: 'Search for an artist',
                minimumInputLength: 3,
                width: "50%"
            });
        });
    </script>
</head>
<body>
<div class="ui container" style="margin-top: 5px;">
    <h1>
        <a href="/">Rova Music Stats</a> - {% block header %}{% endblock %}
    </h1>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="ui horizontal list">
        <div class="item">
            <div class="content">
                <strong>Stations:</strong>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="{{ url_for('station', name='breeze') }}">The Breeze</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="{{ url_for('station', name='edge') }}">The Edge</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="{{ url_for('station', name='george') }}">George FM</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="{{ url_for('station', name='magic') }}">Magic Music</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="{{ url_for('station', name='mai') }}">Mai FM</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="{{ url_for('station', name='more') }}">More FM</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="{{ url_for('station', name='rock') }}">The Rock</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="{{ url_for('station', name='sound') }}">The Sound</a>
            </div>
        </div>
    </div>
    <div class="ui clearing divider"></div>
    <div class="ui horizontal list">
        <div class="item">
            <div class="content">
                <strong>Time span:</strong>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="?t=today">Today</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="?t=yesterday">Yesterday</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="?t=this_week">This Week</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="?t=last_week">Last Week</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="?t=this_month">This Month</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="?t=last_month">Last Month</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a href="{{ request.path }}">All time</a>
            </div>
        </div>
    </div>
    <div class="ui clearing divider"></div>
    <div><select id="song-search"></select><select id="artist-search"></select></div>
    {% block content %}{% endblock %}
</div>
</body>
</html>